﻿@model IEnumerable<DataAccess.Repositories.Models.ProductEntityBase>
@{
    ViewData["Title"] = "Products";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style type="text/css">
    .margined {
        padding-left: 15px;
    }
</style>

<h2>Products</h2>

<div class="container" style="margin-top:150px;">
    <div class="row">
        <div id="filter-container" class="panel panel-default col-md-12" style="padding:20px;">
            <div class="form-group">
                <input type="text" id="filter" placeholder="...search">
            </div>

            <table class="table table-striped user-table table-inverse" id="products" style="width:100%;">
                <thead>
                    <tr>
                        <th class="margined">Название</th>
                        <th class="margined">Ширина</th>
                        <th class="margined">Высота</th>
                        <th class="margined">Глубина</th>
                    </tr>
                </thead>
                <tbody id="pBody">
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td class="margined nametd">@product.Name</td>
                            <td class="margined">@product.Width</td>
                            <td class="margined">@product.Height</td>
                            <td class="margined">@product.Depth</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="button" value="Сгенерировать контент" style="border-bottom:2px;border-bottom-color:black" role="button" class="ui-button ui-widget ui-corner-all btn" id="generator" />

<script>
    $(document).ready(function () {
        $("#filter").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#pBody tr").filter(function () {
                $(this).toggle($(this).children(".nametd").text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $("#generator").click(function () {
        $.ajax({
            url: "@Url.Action("GenerateDbContent", "Home")",
            type: "GET",
            success: function () {
                document.appendChild("<p>Контент базы данных сгенерирован</p>");
            }
        })
    })
</script>

