﻿@model DataAccess.Repositories.Models.Identity

@{
    ViewData["Title"] = "Login";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style type="text/css">
    .Margined{
        margin-left: 5px;
    }

    .alignedRight{
        text-align: right;
    }
</style>

<h2>Вход на сайт</h2>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <table>
        <tbody>
            <tr>
                <td>
                    <div class="form-group Margined alignedRight">
                        <label asp-for="Login">Введите логин:</label>
                    </div>
                </td>
                <td>
                    <div class="form-group Margined">
                        <input type="text" asp-for="Login"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group Margined alignedRight">
                        <label asp-for="Password">Введите пароль:</label>
                    </div>
                </td>
                <td>
                    <div class="form-group Margined">
                        <input asp-for="Password" type="password"/>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <div class="form-group">
            <input type="submit" value="Вход" role="button" class="ui-button ui-widget ui-corner-all btn" />
        </div>
    </div>
    <div>
        @if (!string.IsNullOrEmpty(ViewBag?.Message))
        {
            <p style="color:darkred">@ViewBag.Message</p>
        }
    </div>
</form>

